table{
    width: 800px;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
    border: white;
  
    
  }
  .ajout{
    margin-left: 350px;
  margin-top: 150px;
  width: 130px;
  background-color: green;
  padding: 10px 0;
    border-radius: 20px;
   
  }
 body{
    background-color:black;
    color: white;
    
  }
  .delete{
  background-color: red;
  padding: 10px 0;
    border-radius: 20px;
    width: 50%;
    
  }
  .modifier{
  background-color: blue;
  padding: 10px 0;
    border-radius: 20px;
    width: 50%;
  }
  